.image-uploader-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;

    input {
        display: none;
    }

    &__tags {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
    }
}