@import './../../mixins.scss';

.content-block-container {
    width: 100%;

    border: 2px solid black;
    background: url('./../../../resources/images/card_pattern.jpg');

    &__title {
        background: black;
    }

    &__body, &__title {
        padding: 5px;
    }
}