@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Lato');

html,body {
    height: 100%;
    background: #fdfdfd;
}

h2, h3 {
    font-family: 'Oswald', sans-serif;
    color: white;
}

h2 {
    font-size: 120%;
}

h3 {
    font-size: 130%;
}

p {
    font-family: 'Lato', sans-serif;
}