@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');
@import './mixins.scss';

html,body {
    height: 100%;
    background: #fdfdfd;
}

h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
}

h2 {
    font-size: 120%;
    color: white;
}

h3 {
    font-size: 130%;
    font-weight: 600;
    color: white;
}

p {
    font-family: 'Lato', sans-serif;
}

h4 {
    font-size: 120%;
    color: black;
    display: inline-block;
}

h5 {
    font-size: 180%;
    font-weight: 500;
    color: $bflike_orange;
}

h6 {
    font-size: 130%;
    color: $bflike_orange;
}

a {
    text-decoration: none;
    outline: none;
}

input[type="text"] {
    font-family: 'Lato', sans-serif;
    font-size: 90%;

    width: 180px;
    line-height: 22px;

    padding: 0 3px;
    border-radius: 0;
    border: 1px solid grey;
    outline: none;
}

input[type="file"] {
    font-family: 'Lato', sans-serif;
    font-size: 90%;

    line-height: 22px;

    border-radius: 0;;
    outline: none;
}

textarea {
    font-family: 'Lato', sans-serif;
    font-size: 90%;
    line-height: 22px;

    resize: none;
    width: 100%;
    min-height: 150px;

    padding: 0 3px;
    border-radius: 0;
    border: 1px solid grey;
    outline: none;
}

.styled-select {
    background: url('./../resources/images/select.png') no-repeat 95% 0;
    border: 1px solid grey;
    height: 22px;
    width: 185px;
    overflow: hidden;

    select {
        font-family: 'Lato', sans-serif;
        font-size: 90%;
        background: transparent;
        border: none;
        height: 22px;
        line-height: 22px;
        padding: 0;
        width: 213px;
    }
}

.fa {
    color: black;
}

.small-text {
    margin-top: 7px;
    font-size: 60%;
}