@import './../../mixins.scss';

.bflike-button-container {
    display:flex;
    position: relative;
    align-self: flex-start;
    align-items: center;
    flex: 0 0 auto;

    padding: 2px;

    background: black;
    color: white;
    vertical-align: bottom;

    font-family: 'Oswald', sans-serif;
    line-height: 18px;

    transition: background 0.1s;

    span {
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        white-space: nowrap;

        transition: color 0.1s;
    }

    &__text {
        padding: 0 6px 2px 3px;
        font-size: 120%;
    }

    &__arrow {
        background: $bflike_orange;
        
        width: 24px;
        height: 24px;
        font-size: 150%;
        padding-bottom: 2px;
    }
}

.bflike-button-container:hover {
    cursor: pointer;
    background: $bflike_orange;
    border: 2px black solid;
    padding: 0;

    span {
        color: black;
    }
}